BasedOnStyle: WebKit
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
BreakBeforeBraces: WebKit
PointerAlignment: Right
ReferenceAlignment: Left
SortIncludes: CaseSensitive
